body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .capture-area {
    width: 1280px;
    height: 720px;
    background-color: #eef;
    margin: 20px auto;
    border: 2px solid #333;
    box-sizing: border-box;
    position: relative;
    background: url('templateSchedule.png') no-repeat center center / cover;
  }

  .parentDiv{
    width: 991px;
    height: 67px;
    display: flex;
  }

  .DateDiv{
    width: 141px;
    height: 66px;
    display: flex;
  }

  .TimeDiv{
    width: 130px;
    height: 66px;
    display: flex;
  }

  .timeFont{
    color: white;
    font-family: 'Nikumaru', sans-serif;
    font-size: 36px;
    margin-top: 17px;
    margin-left: 4px;
  }

  .dayOfMonthFont{
    font-family: 'Nikumaru', sans-serif;
    color: white;
    font-size: 40px;
    margin-top: 17px;
    margin-left: 15px;
  }

  .dayOfWeekFont{
    font-family: 'Nikumaru', sans-serif;
    color: white;
    font-size: 21px;
    margin-top: 28px;
    margin-left: 1px;
  }

  .timeSelect {
    font-family: 'Nikumaru', sans-serif;
    color: white;
    background-color: transparent;
    border: none;
    appearance: none; /* スタイリング自由にする */
    margin-top: 10px;
    margin-left: 12px;
  }
  .timeSelect.clicked {
    color: black;
    font-size: 25px;
  }

  #container {
    position: fixed;
    top: 250px;
    left: 220px;
    background-color: white; /* 背景が他の要素と重なるのを防ぐ */
    padding: 10px;            /* 少し余白 */
    z-index: 1000;            /* 他の要素より前面に出す */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* 見た目の区切り */
  }

  .select-template{
    font-size: 30px;
    margin-bottom: 46px;
  }

  .chilldDivArea{
    width: 73%;
  }

  @font-face {
  font-family: 'Nikumaru';
  src: url('./fonts/07にくまるフォント.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
