body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .capture-area {
    width: 1280px;
    height: 720px;
    background-color: #eef;
    margin: 20px auto;
    border: 2px solid #333;
    box-sizing: border-box;
    position: relative;
    background: url('templateSchedule.png') no-repeat center center / cover;
  }

  .parentDiv{
    width: 991px;
    height: 67px;
  }

  .DateDiv{
    width: 141px;
    height: 66px;
    display: flex;
  }

  .dayOfMonthFont{
    font-family: 'Nikumaru', sans-serif;
    color: white;
    font-size: 40px;
    margin-top: 17px;
    margin-left: 18px;
  }

  .dayOfWeekFont{
    font-family: 'Nikumaru', sans-serif;
    color: white;
    font-size: 21px;
    margin-top: 28px;
    margin-left: 1px;
  }

  @font-face {
  font-family: 'Nikumaru';
  src: url('./fonts/07にくまるフォント.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
