body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .capture-area {
    width: 1280px;
    height: 720px;
    background-color: #eef;
    margin: 20px auto;
    border: 2px solid #333;
    box-sizing: border-box;
    position: relative;
    background: url('templateSchedule.png') no-repeat center center / cover;
  }

  .parentDiv{
    width: 991px;
    height: 67px;
  }

  .DateDiv{
    width: 141px;
    height: 66px;
    display: flex;
    background-color: rgb(30, 210, 210);
    opacity: 0.3;
  }

  .dayOfMonthFont{
    font-size: 32px;
    margin-top: 17px;
    margin-left: 22px;
    background-color: chocolate;
  }